DOCKER_REGISTRY=""
SQL_HOST=""
SQL_USER="sa"
SQL_PASSWORD=""
ERPDOCKER_COMPOSE_FOLDER_PATH=""
RCCDOCKER_COMPOSE_FOLDER_PATH=""
UI_FOLDER_PATH=""
ROKHCC_FOLDER_PATH=""
MONGO_HOST=""
SQL_DRIVER="ODBC Driver 18 for SQL Server"